<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.tea.front.server.content.dao.persist.mapper.ArticleMapper">

    <!-- List<ArticleListItemVO> listByCategoryId(Long categoryId); -->
    <select id="listByCategoryId" resultMap="ListResultMap">
        SELECT
        <include refid="ListQueryFields"/>
        FROM content_article
        LEFT JOIN content_category ON content_article.category_id=content_category.id
        WHERE
        content_article.category_id=#{categoryId}
        AND content_article.check_state=1
        AND content_article.display_state=1
        ORDER BY
        content_article.sort DESC,
        content_article.id DESC
    </select>
    <sql id="ListQueryFields">
        <if test="true">
            content_article.id,
            content_article.author_name,
            content_article.category_id,
            content_category.name,
            content_article.title,
            content_article.brief,
            content_article.tags,
            content_article.cover_url,
            content_article.up_count,
            content_article.down_count,
            content_article.click_count,
            content_article.comment_count
        </if>
    </sql>
    <resultMap id="ListResultMap"
               type="cn.tedu.tea.front.server.content.pojo.vo.ArticleListItemVO">
        <id column="id" property="id"/>
        <result column="author_name" property="authorName"/>
        <result column="category_id" property="categoryId"/>
        <result column="name" property="categoryName"/>
        <result column="title" property="title"/>
        <result column="brief" property="brief"/>
        <result column="tags" property="tags"/>
        <result column="cover_url" property="coverUrl"/>
        <result column="up_count" property="upCount"/>
        <result column="down_count" property="downCount"/>
        <result column="click_count" property="clickCount"/>
        <result column="comment_count" property="commentCount"/>
    </resultMap>

    <!-- List<ArticleListItemVO> list(); -->
    <select id="list" resultMap="ListResultMap">
        SELECT
        <include refid="ListQueryFields"/>
        FROM content_article
        LEFT JOIN content_category ON content_article.category_id=content_category.id
        WHERE
        content_article.check_state=1
        AND content_article.display_state=1
        ORDER BY
        content_article.sort DESC,
        content_article.id DESC
    </select>

    <!-- ArticleStandardVO getStandardById(Long id); -->
    <select id="getStandardById" resultMap="StandardResultMap">
        SELECT
        <include refid="StandardQueryFields"></include>
        FROM
        content_article
        LEFT JOIN content_category ON content_article.category_id=content_category.id
        LEFT JOIN content_article_detail ON content_article.id=content_article_detail.article_id
        WHERE
        content_article.id=#{id}
    </select>
    <sql id="StandardQueryFields">
        <if test="true">
            content_article.id,
            content_article.author_id,
            content_article.author_name,
            content_article.category_id,
            content_article.title,
            content_article.brief,
            content_article.tags,
            content_article.sort,
            content_article.cover_url,
            content_article.up_count,
            content_article.down_count,
            content_article.click_count,
            content_article.comment_count,
            content_article.gmt_create,
            content_article.gmt_modified
        </if>
    </sql>
    <resultMap id="StandardResultMap"
               type="cn.tedu.tea.front.server.content.pojo.vo.ArticleStandardVO">
        <id column="id" property="id"/>
        <result column="author_id" property="authorId"/>
        <result column="author_name" property="authorName"/>
        <result column="category_id" property="categoryId"/>
        <result column="title" property="title"/>
        <result column="brief" property="brief"/>
        <result column="tags" property="tags"/>
        <result column="sort" property="sort"/>
        <result column="cover_url" property="coverUrl"/>
        <result column="up_count" property="upCount"/>
        <result column="down_count" property="downCount"/>
        <result column="click_count" property="clickCount"/>
        <result column="comment_count" property="commentCount"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

</mapper>
